<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HR</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div>
    <div class="navbar">
      <ul>
        <li><a href="">Admin</a></li>
        <li><a href="">Employee</a></li>
        <li style="float:left;" id="navbar-title">
          <p>HR Management</p>
        </li>
      </ul>
    </div>
