<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HR</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;600&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <div class="navbar">
      <ul>
        <li><a href="\signin">Admin</a></li>
        <li><a href="\empquery">Employee</a></li>
        <li style="float:left;" id="navbar-title">
          <a href="\" ><p>HR Management</p></a>
        </li>
      </ul>
    </div>
