<%- include("partials/header") -%>
<div class="top">
  <h1>Queries</h1>
  <br>
  <a href="#leave"><button class="bttn bttn-lg q-btn">Leave Request</button></a>
  <a href="#bonus"><button class="bttn bttn-lg q-btn">Demand Bonus</button></a>
  <a href="#appraisal"><button class="bttn bttn-lg q-btn">Appraisal req</button></a>
  <a href="#other"><button class="bttn bttn-lg q-btn">Others misc.</button></a>
</div>
<br><br>
<div class="q-section" id="leave">
  <form method="post" action="">
    <h1>Leave Request</h1>
    <input type="text" name="" id="" placeholder="Employee ID">
    <br>
    <label for="start-date">
      <h3>Starting date : </h3>
    </label>
    <input id="start-date" type="date">
    <label for="end-date">
      <h3>Ending date : </h3>
    </label>
    <input id="end-date" type="date">
    <br><br>
    <textarea cols="70" rows="10" placeholder="Reason for leave"></textarea>
    <br><br>
    <button class="bttn sbmt-btn">Submit</button>
  </form>
</div>
<hr>
<div class="q-section" id="bonus">
  <form action="">
    <h1>Demand Bonus</h1>
    <input type="text" name="" id="" placeholder="Employee ID">
    <br><br>
    <input type="text" placeholder="Amount of loan">
    <br><br>
    <textarea cols="70" rows="10" placeholder="Description"></textarea>
    <br><br>
    <button class="bttn sbmt-btn">Submit</button>
  </form>
</div>
<hr>
<div class="q-section" id="appraisal">
  <form action="">
    <h1>Appraisal</h1>
    <input type="text" name="" id="" placeholder="Employee ID">
    <br><br>
    <textarea cols="70" rows="10" placeholder="Description"></textarea>
    <br><br>
    <button class="bttn sbmt-btn">Submit</button>
  </form>
</div>
<hr>
<div class="q-section" id="other">
  <form action="">
    <h1>Others</h1>
    <input type="text" name="" id="" placeholder="Employee ID">
    <br><br>
    <input type="text" placeholder="Subject">
    <br><br>
    <textarea cols="70" rows="10" placeholder="Description"></textarea>
    <br><br>
    <button class="bttn sbmt-btn">Submit</button>
  </form>
</div>
<%- include("partials/footer") -%>
