<%- include("partials/header") -%>
<div class="top">
  <h1 class="q-heading">Queries</h1>
  <br>
  <a href="#leave"><button class="bttn bttn-lg q-btn">Leave Request</button></a>
  <a href="#loan"><button class="bttn bttn-lg q-btn">Request Loan</button></a>
  <a href="#other"><button class="bttn bttn-lg q-btn">Others misc.</button></a>
</div>
<br><br>
<div class="q-section" id="leave">
  <form method="post" action="/empquery/leave">
    <h1>Leave Request</h1>
    <input type="text" name="emp_id" id="" placeholder="Employee ID">
    <br>
    <label for="start-date">
      <h3>Starting date : </h3>
    </label>
    <input id="start-date" name="start_date" type="date">
    <label for="end-date">
      <h3>Ending date : </h3>
    </label>
    <input id="end-date" name = "end_date" type="date">
    <label>
      <h3>Enter Email : </h3>
    </label>
    <input type="email" name="email" placeholder="Email"><br><br>
    <textarea cols="70" rows="10" placeholder="Reason for leave" name = "description"></textarea>
    <br><br>
    <button class="bttn sbmt-btn" type ="submit">Submit</button>
  </form>
</div>
<hr class="query-hr">
<div class="q-section" id="loan">
  <form action="/empquery/loan" method ="post">
    <h1>Loan Request</h1>
    <input type="text" name="emp_id" id="" placeholder="Employee ID">
    <label for="amount">
      <h3>Amount : </h3>
    </label>
    <input type="text" name="amount" placeholder="Amount of loan">
    <label for="email">
      <h3>Email : </h3>
    </label>
    <input type="email" name="email" placeholder="Email">
    <label for="description">
      <h3>Description : </h3>
    </label>
    <textarea cols="70" rows="10" placeholder="Description" name ="description"></textarea>
    <br><br>
    <button class="bttn sbmt-btn" type ="submit">Submit</button>
  </form>
</div>
<hr class="query-hr">
<div class="q-section" id="other">
  <form action="/empquery/others" method = "post">
    <h1>Others</h1>
    <input type="text" name="emp_id" id="" placeholder="Employee ID">
    <label for="subject">
      <h3>Subject : </h3>
    </label>
    <input type="text" name="subject" placeholder="Subject">
    <label for="email">
      <h3>Email : </h3>
    </label>
    <input type="email" name="email" placeholder="Email">
    <label for="description">
      <h3>Description : </h3>
    </label>
    <textarea cols="70" rows="10" name = "description" placeholder="description"></textarea>
    <br><br>

    <button class="bttn sbmt-btn" type ="submit">Submit</button>
  </form>
</div>
<%- include("partials/footer") -%>
