<%- include("partials/header") -%>
<div class="home_text">
  <h1>WELCOME</h1>
  <h3>To Human Resource management </h3>
  <h3>Web-app</h1>
</div>
<hr>
<div class="feat">
  <a href="/signin"><button class="bttn link-bttn" title="Login as admin">HR/Admin</button></a>
  <a href="/empquery"><button class="bttn link-bttn" title="For any employee queries">Employee</button></a>
  <br>
  <a href="/team"><button class="bttn link-bttn" title="To see the employee database">Team</button></a>
</div>
<%- include("partials/footer") -%>
