<%- include("partials/header") -%>
<div class="home_text">
  <h1>WELCOME</h1>
  <h3>To Human Resource management </h3>
  <h3>Web-app</h1>
</div>
<hr>
<div class="feat">
  <div class="link-div">
    <a href="/signin"><button class="bttn link-bttn left-bttn" title="Login as admin" style="display: inline-block;">HR/Admin</button></a>
    <h1 class="link-detail link-left">Sign in as HR or Admin</h1>
  </div>
  <div class="link-div div-centre" style="background-color: #dbe2ef;">
    <h1 class="link-detail link-right">For any employee queries or requests</h1>
    <a href="/empquery"><button class="bttn link-bttn right-bttn" title="For any employee queries">Employee</button></a>
  </div>
  <div class="link-div">
    <a href="/team"><button class="bttn link-bttn left-bttn" title="To see the employee database">Team</button></a>
    <h1 class="link-detail link-left">To meet the team</h1>
  </div>
</div>
<%- include("partials/footer") -%>
