<%- include("partials/header") -%>
    <div class="profile-bar">
        <ul>
            <button class="bttn log-out-bttn">Log Out</button>
            <li>Name : xyz</li> <br><br>
            <li>Employee ID : 1234</li><br><br>
            <li>Designation : developer</li><br><br>
        </ul>

    </div>
</body>
</html>
<%- include("partials/footer") -%>
