<%- include("partials/header") -%>
    <div class="profile-bar">
        <ul>
            <button class="bttn log-out-bttn">Log Out</button>
            <li>Name : xyz</li> <br><br>
            <li>Employee ID : 1234</li><br>
            <!-- <li>Designation : developer</li><br><br> -->
        </ul>
    </div>
    <div class="db">
        <h3 class="profile-heading">Database Operations</h3>
        <div class="database-operations">
            <a href="#add"><button class="bttn">Add</button></a>
            <a href="#delete"><button class="bttn">Delete</button></a>
            <a href="#edit"><button class="bttn">Edit</button></a>
        </div>
        <div class="db-operations-styles" id="add"></div>
        <div class="db-operations-styles" id="delete"></div>
        <div class="db-operations-styles" id="edit"></div>
    </div>
    <div class="requests">
        <h3 class="profile-heading">Requests</h3>
        <div class="request-box"></div>
    </div>
</body>
</html>
<%- include("partials/footer") -%>
