<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="profile-bar">
        <ul>
            <button class="bttn bttn-lg log-out">Log Out</button>
            <li>Name : xyz</li> <br><br>
            <li>Employee ID : 1234</li><br><br>
            <li>Designation : developer</li><br><br>
        </ul>

    </div>
</body>
</html>
