<%- include("partials/header") -%>
    <div class="sign-in">
      <form action="/admin/register" method="post">
        <label for="id" class="login-label">Admin ID</label>
        <br><br>
        <input type="text" name="id" value="">
        <br><br>
        <label for="name" class="login-label">Name</label>
        <br><br>
        <input type="text" name="name" value="">
        <br><br><br>
        <label for="password" class="login-label">Password</label>
        <br><br>
        <input type="password" name="password" value="">
        <hr><br><br>
        <button  class="bttn bttn-lg" type="submit" >LOG IN</button>
      </form>
    </div>

  </body>
</html>
<%- include("partials/footer") -%>
