<%- include("partials/header") -%>
    <div class="sign-up">
      <form action="" method="post">
        <label for="E_ID">Employee ID</label>
        <br><br>
        <input type="text" name="e_id" value="">
        <br><br><br>
        <label for="password">Password</label>
        <br><br>
        <input type="password" name="pass" value="">
        <br><br><br>
        <button  class="bttn bttn-lg" type="button" name="button">LOG IN</button>
      </form>
    </div>

  </body>
</html>
<%- include("partials/footer") -%>
