<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RESULT</title>
  </head>
  <body>
    <h1><%=r%></h1>
    <a href="/"><button type="button" class="bttn">continue</button></a>
  </body>
</html>
