<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RESULT</title>
  </head>
  <body> -->
    <%- include("partials/header") -%>
    <div class="sign-in">
      <h1><%=r%></h1>
      <a href="/"><button type="button" class="bttn">Continue</button></a>
    </div>
  </body>
  <footer>
    <div class="footer footer-signin">
      <h3>Made by team HFS</h3>
    </div>
  </footer>
</html>
