<%- include("partials/header") -%>
    <div class="sign-in">
      <form action="" method="post">
        <label for="E_ID" class="login-label">Admin ID</label>
        <br><br>
        <input type="text" name="e_id" value="">
        <br><br><br>
        <label for="password" class="login-label">Password</label>
        <br><br>
        <input type="password" name="pass" value="">
        <hr>
        <button  class="bttn bttn-login" type="button" name="button">LOG IN</button>
      </form>
    </div>
  </div>
  </body>
  <footer>
    <div class="footer footer-signin">
      <h3>Made by team HFS</h3>
    </div>
  </footer>
  
  </html>