body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f9f7f7;
  font-family: 'Rubik', sans-serif;
}

hr {
  margin: 40px 3vw 0;
  color: #bbbbbb;
}

/* NAVBAR STYLES START */
.navbar {
  width: 99vw;
  background-color: #112d4e;
  color: white;
}

.navbar ul {
  list-style-type: none;
  /* display:inline; */
  /* float: right; */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar li {
  /* display: inline; */
  float: right;
  font-size: 20px;
  text-align: center;
}

#navbar-title {
  /* display: inline; */
  float: left;
  /* font-size: 24px; */
}

.navbar li a, .navbar li p {
  display: block;
  text-align: center;
  margin: 16px;
  color: white;
  text-decoration: none;
}

/* NAVBAR STYLES END */

/* BUTTONS */
.bttn {
  width: 100px;
  height: 50px;
  background-color: #06162A;
  border: none;
  border: 2px solid black;
  border-radius: 8px;
  color: white;
  margin: 5px;
}

.bttn:hover{
  background-color: #213E5F;
}
/*BUTTONS END*/

/*---CSS specific to home page---*/

.home_text{
  font-family: 'Volkhov', serif;
  font-weight: bold;
  font-size: 3vw;
  margin: 20vh auto;
  text-align: center;
}

.feat{
  margin: 10vh auto;
  text-align: center;
}

.link-bttn{
  font-size: 2.75vw;
  font-weight: 600;
  height: 30vh;
  width: 35vw;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
}

.left-bttn{
  margin-right: 10%;
}

.link-left{
  margin-left: 7%;
}

.right-bttn{
  margin-left: 10%;
}

/* .link-right{
  margin-right: 10%;
} */


.link-detail{
  display: inline-block;
}

.link-div{
  margin:  75px 0;
}

.div-centre{
  margin: 0 3vw;
  padding: 50px 0;
}

/*---CSS specific to home page END---*/

/*---CSS specific to team page---*/

/* CARD STYLES START */
.card {
  display: inline-block;
  width: 650px;
  /* height: 100px; */
  background-color: #dbe2ef;
  margin: 40px 50px;
  border-radius: 10px;
}

.card-image {
  /* display: inline; */
  float: left;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 40px;
  border-radius: 50%;
}

.credentials {
  /* display: inline; */
  /* float: left; */
  margin-left: 150px;
  /* background-color: lightcoral; */
}
/* CARD STYLES END */

/* HEADINGS STYLE START*/
.headings-profile {
  margin: 40px 50px 0;
  font-family: 'Volkhov', serif;
  font-weight: bold;
}

.page-heading {
  text-align: center;
  font-size: 40px;
  margin: 40px;
  margin-bottom: 0;
  font-family: 'Volkhov', serif;
  font-weight: bold;
}

.page-subheading{
  text-align: center;
  font-size: 16px;
  margin: 0;
  font-family: 'Volkhov', serif;
  font-weight: bold;
}
/* HEADINGS STYLE END*/

.button-card {
  margin-left: 42%;
}

/*---CSS specific to team page END---*/

/*---CSS specific to emp_query page---*/

.top {
  text-align: center;
  justify-content: space-around;
}

.q-section {
  background-color: #dbe2ef;
  padding: 10px ;
  margin: 0 3vw;
}

.query-hr{
  margin-bottom: 40px;
}

.q-heading{
  font-size: 50px;
}

.q-btn {
  padding: 10px 20px;
  width: 150px;
  height: 75px;
  font-size: 20px;
}

.sbmt-btn {
  padding: 10px 20px;
  margin-left: 43vw;
}

/*---CSS specific to emp_query page END---*/

/*---CSS specific to profile page---*/

.profile-bar {
  width: 99vw;
}

.profile-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: #dbe2ef;
}

.profile-bar li {
  float: left;
  font-size: large;
  font-weight: bold;
}

.log-out-bttn {
  padding: 10px 20px;
  float: right;
  margin: 10px;
}

.db{
  margin: 50px 0;
}

.database-operations{
  text-align: center;
}

.profile-heading{
  text-align: center;
  font-family: 'Volkhov', serif;
  font-weight: bold;
  font-size: 24px;
}

.db-operations-styles{
  text-align: center;
  background-color: #dbe2ef;
  margin: 50px 0;
  padding: 20px 0;
}

.emp_inp{
  display:inline-block;
  margin: 40px;
}

.request-box{
  text-align: center;
  width: 100vw;
  background-color: #dbe2ef;
  margin: 50px 0;
  padding: 20px 0;
}
.hr-req{
  display: inline-block;
  border:5px solid black;
  text-align: center;
  color: black;
  margin: 50px;
  width: 200px;
  font-size: 20px;
}
.hr-req:hover{
  background-color: #112d4e;
  color: white;
}
/*---CSS specific to profile page END---*/

/*---CSS specific to sign_in page---*/

.sign-in {
  text-align: center;
  width: 350px;
  /* height: 400px; */
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #dbe2ef;
  margin: 15vh auto;
}

.login-label{
  font-family: 'Volkhov', serif;
  font-weight: bold;
  font-size: 20px;
}

.bttn-login{
  margin-top: 35px;
}

/*---CSS specific to sign_in page END---*/

/* CSS for emp_prf start */

.emp-profile {
  width: 90vw;
  padding: 40px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #dbe2ef;
  border-radius: 30px;
  border: 5px solid black;
}

#prf-img {
  border-radius: 50%;
  border: 5px solid black;
}

.detail {
  display: inline-block;
  list-style-type: none;
  font-weight: bold;
}

/* CSS for emp_prf ends */
/* CSS for Success/Failure*/
.green-box{
  padding:10px;
  width:99vw;
  background-color:#fb9db5;
  font-size: 1.25rem;
}
/* CSS for footer */

.footer{
  margin-top: 10px;
  background-color: #112d4e;
  padding: 10px 0;
  text-align: center;
  color: white;
}

.footer-signin{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

/* CSS for footer */
/*CSS For Leave PAGE*/
.leave-request{
  margin:20px auto;
  background-color: #dbe2ef;
}
.leave-request hr{
  margin: 5px 0;
}

@media (max-width: 1200px){
  body{
    text-align: center;
  }
  .left-bttn{
    margin-right: 0;
  }

  .link-left{
    margin-left: 0;
  }

  .right-bttn{
    margin-left: 0;
  }

  /* .link-right{
    margin-right: 10%;
  } */


  .link-detail{
    display: inline-block;
  }

  .link-div{
    margin:  0;
  }

  .div-centre{
    margin: 0;
    padding: 50px 0;
  }
  .sbmt-btn{
    margin:0;
  }
}


input, textarea{
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
}

input{
  width: 139px;
}

input:focus, textarea:focus{
  border: 2px solid blue;
}

textarea::placeholder{
  font-family: sans-serif;
  font-size: 14px;
}

.req-links{
  /* width: ; */
}
