body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

hr {
  margin: 40px 50px 0;
}

/* NAVBAR STYLES START */
.navbar {
  width: 99vw;
  background-color: #606060;
  color: white;
}

.navbar ul {
  list-style-type: none;
  /* display:inline; */
  /* float: right; */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar li {
  /* display: inline; */
  float: right;
  font-size: 20px;
  text-align: center;
}

#navbar-title {
  /* display: inline; */
  float: left;
  /* font-size: 24px; */
}

.navbar li a, .navbar li p {
  display: block;
  text-align: center;
  margin: 16px;
  color: white;
  text-decoration: none;
}

/* NAVBAR STYLES END */

/* BUTTONS */
.bttn {
  width: 100px;
  height: 50px;
  background-color: lightgreen;
  border: none;
  border: 2px solid black;
  border-radius: 8px;
  margin: 5px;
}
/*BUTTONS END*/

/*---CSS specific to home page---*/

.home_text{
  font-weight: bold;
  font-size: 3vw;
  margin: 20vh auto;
  text-align: center;
}

.feat{
  margin: 10vh auto;
  text-align: center;
}

.link-bttn{
  font-size: 2vw;
  font-weight: bolder;
  height: 30vh;
  width: 35vw;
}

.link-bttn:hover{
  background-color: white;
}

/*---CSS specific to home page END---*/

/*---CSS specific to team page---*/

/* CARD STYLES START */
.card {
  display: inline-block;
  width: 650px;
  /* height: 100px; */
  background-color: #646464;
  margin: 40px 50px;
}

.card-image {
  /* display: inline; */
  float: left;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 40px;
  border-radius: 50%;
}

.credentials {
  /* display: inline; */
  /* float: left; */
  margin-left: 150px;
  /* background-color: lightcoral; */
}
/* CARD STYLES END */

/* HEADINGS STYLE START*/
.headings-profile {
  margin: 40px 50px 0;
}

.page-heading {
  text-align: center;
  margin: 40px;
}
/* HEADINGS STYLE END*/

.button-card {
  margin-left: 42%;
}

/*---CSS specific to team page END---*/

/*---CSS specific to emp_query page---*/

.top {
  text-align: center;
  justify-content: space-around;
}

.q-section {
  background-color: blue;
  padding: 10px;
  margin: 10px;
}

.q-btn {
  padding: 10px 20px;
}

.sbmt-btn {
  padding: 10px 20px;
  margin-left: 45vw;
}

/*---CSS specific to emp_query page END---*/

/*---CSS specific to profile page---*/

.profile-bar {
  width: 100vw;
  height: 50vh;
}

.profile-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: blue;
  border-radius: 20px;
}

.profile-bar li {
  float: left;
  font-size: large;
  font-weight: bold;
}

.log-out-bttn {
  padding: 10px 20px;
  float: right;
  margin: 10px;
}

/*---CSS specific to profile page END---*/

/*---CSS specific to sign_up page---*/

.sign-up {
  text-align: center;
  width: 350px;
  /* height: 400px; */
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: gray;
  margin: 15vh auto;
}

/*---CSS specific to sign_up page END---*/

/* CSS for footer */

.footer{
  background-color: gray;
  padding: 10px 0;
  text-align: center;
}

/* CSS for footer */
